.mainContainer {
  min-height: 100vh;
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 600px) {
  .mainContainer {
    background-image: url("/LOVE_YOUR_SPACE.png");
  }
}
